
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Order success!</h2>
<p>You should get a verification email soon that the order has been recieved</p>

<a class="btn btn-primary" asp-action="List" asp-controller="Product">Continue shopping?</a>